Q1. What are data structures, and why are they important?

A-> Data structures are ways to organise and store data so that they can be accessed and modified efficiently. They act as container for storing data in specific format, allowing us to perfom operations such as adding, removing, sorting, etc. Python has several built-in data structures such as lists (ordered and mutable), tuples(ordered and immutable), dictionaries(stores item in key -valu pair), set (unordered collection of unique items).

Data sets are important because they directly impact how efficiently a program runs and how easy it is to work with data. Here are some of the significance of the data structures:-
a) Efficiency-Different data structures are optimized for different tasks. Ex- looking up a value in dictionary is much easier than in other data sturctues.

b) Optimization- Choosing right stucture speeds up the processing time.

c) Flexibility- Different data sturctues provides flexibility in handling different types of data such as a seuence can be stored in list, while relationship can be stored in dictionaries.

d) Code Readability- Data structures makes code more intuitive. Tuples means items can not be changed, while set means only unique items.

Q2. Explain the difference between mutable and immutable data types with examples.

A->  Mutable data type are the one which can be modified after they have been created. Changes are made to the original object in memory. Example of mutable data types are list, dictionaries, sets.

Immutable data type are the one which can not be modified after their creation. If we attempt to modify an immutable object then it crates a new object in memory. Example of immutable data type is strings, tuple, integer, float.

Ex. - Mutable data type
my_list=[2,3,4] # Created a list(mutable data type)
print(my_list)
print(my_list.append())  # Modified the list, modification happens in original variable i.e my_list.

Ex. - Immutable data type
my_str = "Hello"
print("Before modification= ", my_str)

my_str = my_str + " World"  # Creates a new string object
print("After modification= ", my_str)

Q3.  What are the main differences between lists and tuples in Python?

A->    List                                 
1. Mutable(can be modified                  
2. syntax is []                            
3. It is slower due to mutability          
4. uses more memory                        
5. used when modification is needed        

Tuples
                   
1. Immutable(cannot be modified)
2. syntax of tuple is ()
3. Faster compared to lists
4. uses less memory
5. used when we dont need to change items

Q4.  Describe how dictionaries store data.

A-> Dictionaries store item in key-value pair, and use hash table internally to store keys.
Each item in dictionary is in key-value pair.
Python uses hash value for each key using the hash () function. This hash decides where the value is stored in memory. Only immutable objects can be stored as keys as their hash must remain constant.

Q5. Why might you use a set instead of a list in Python?

A->  We can use set in the following situations:-

1. A set automatically removes duplicates, so we want uniue values only we can use set instead of list.
2. A set is faster in performing operations as it uses hashability to store values.
3. We can use set when we want to perform mathematical operations like union, intersection, difference,etc.

Q6.  What is a string in Python, and how is it different from a list?

A-> String is a sequence of characters  enclosed within qoutes (both single and double qoutes can be used to create string). The basic difference string and list is that string is immutable whereas lists are mutable. Also, strings contains text i.e characters whereas lists can contain any data type. i.e integers, float, boolean, strings, etc.

Q7. How do tuples ensure data integrity in Python

A-> Data integrity means data is consistent and free from unintentional changes.
Tuples cannot be modified after their creation which prevents it from getting changed accidently.

Q8.What is a hash table, and how does it relate to dictionaries in Python?

A-> A hash table is type of a data structure that stores key-value pairs which allows it to access data quickly using unique keys.
It is like opening a lock using unique fingerprint.
Each key is passed through a hash function which gives it a hash value which points to a unique location in memory where value is stored.

Q9. Can lists contain different data types in Python?

A-> Yes, lists in Python are heterogeneous data structures, meaning they can store elements of different data types such as int, float, str, bool, or even other lists and objects.
this flexibility makes it very useful for handling mixed data types.

Q10.  Explain why strings are immutable in Python.

A-> Strings are immutable data type meaning they cannot be changed after its creation. Any attempt to change it might create a new string i.e, a new variable rather than changing the original string.

Strings are immutable to maintain data integerity, ensure performance optimization, and also to enable hashability.

Q11. What advantages do dictionaries offer over lists for certain tasks?

A-> In dictionaries we can fetch values using keys unlike lists where we position/index to fetch items.
Dictinaries also enable faster lookup compared to lists since they use unique keys.

Q12. Describe a scenario where using a tuple would be preferable over a list.

A-> Using a tuple makes sense when we want to use fixed , unchangeable group of values when data should not be used.

Q13. How do sets handle duplicate values in Python?

A-> A set, being an unordered collection of uniqu values. When you create a set, duplicate values are iqnored as only one value of each instance is stored.

Q14. How does the “in” keyword work differently for lists and dictionaries?

A-> In lists "in" keyword checks if the item exits in list one by one.
In dictionary, it checks if key exits in dictionary and not the value. It uses hashing in dictionary and hence is faster compared to list.

Q15. Can you modify the elements of a tuple? Explain why or why not.

A-> As tuples are immutable hence cannot be modified.
They are immutable to ensure data integrity, to enable hashability and for faster performance.

Q16. What is a nested dictionary, and give an example of its use case?

A-> A nested dictionary is a dictionary that contains other dictionaries as values. In other words, dictionaries can have another dictionary as their value.

Eg.
contacts = {
    "Abhisek": {
        "phone": "9978659045",
        "email": "abhisek@gmail.com",
        "address": "34 Bharat Street, India."
    }
}

# Accessing Abhisek's phone number
print(contacts["Abhisek"]["phone"])  # Output: 9978659045

# Accessing Abhisek's email
print(contacts["Abhisek"]["email"])  # Output: abhisek@gmail.com

Q17. Describe the time complexity of accessing elements in a dictionary.

A-> In Python, dictionaries are implemented using hash tables. This implementation provides fast lookups by associating keys with values through a hashing process.

Time Complexity:
Average Case: O(1) Constant time

Q18.  In what situations are lists preferred over dictionaries?

A-> If you need to store a sequence of items that you need to access based on their position or index rather than by a specific key, then we use lists over dictionary.

When we want to maintain the sequence of items, we can use lists over dictioanries.

When dont need to store items in form of relationship i.e when we need to store independent data we can use lists.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

A-> Dictionaries preserver the order in which key value pairs are inserted into it but even then they are considered unordered as we access values of dictionaries using their keys and not using their index/position.

Dictionaries store key value pair using hashing mechanism and hence are able to retrieve values associated keys using keys which is faster as compared to lists.

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval.

A-> In lists data is accessed using positon/index whereas in dictionary we use key to access its value.

In [3]:
# Q1. Write a code to create a string with your name and print it.

my_string="Abhisek Kumar"
print("My name is ",my_string)

My name is  Abhisek Kumar

In [ ]:
# Q2.  Write a code to find the length of the string "Hello World".

my_string="Hello World"
length=0
for i in my_string:
  length+=1

print(f"Length of {my_string} is {length}")

# alternatively, len(my_string) method could also have been used.

Length of Hello World is 11

In [ ]:
# Q3.  Write a code to slice the first 3 characters from the string "Python Programming".

my_string="Python Programming"
print(my_string[:3])

Pyt

In [ ]:
# Q4. Write a code to convert the string "hello" to uppercase.

my_string="hello"
print(my_string.upper())

HELLO

In [ ]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string="I like apple"
new_string=my_string.replace("apple","orange")
print(new_string)

I like orange

In [ ]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.

my_list=[i for i in range(1,6)]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list=[1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list =[1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list=['a', 'b', 'c', 'd']
print(my_list[1])

b

In [ ]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list=[10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple=(100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple=('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [ ]:
#Q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple=(10, 20, 5, 15)
min_num=my_tuple[0]
for i in my_tuple:
  if i < min_num:
    min_num=i

print(min_num)

# Alternatively min(my_tuple) method can be used to find min number in tuple

5

In [ ]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple=('dog', 'cat', 'rabbit')
for i in range(len(my_tuple)):
  if my_tuple[i] == "cat":
    print(f"The index of the element 'cat' in tuple is {i}")

The index of the element 'cat' in tuple is 1

In [ ]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

my_tuple = ('apple','banana','mango','grapes','Kiwi')
count=0
for i in my_tuple:
  if i.lower()=="kiwi":
    count+=1

if count >=1:
  print(f'"kiwi" is present in {my_tuple}')
else:
  print(f'"kiwi" is not present in {my_tuple}')

"kiwi" is present in ('apple', 'banana', 'mango', 'grapes', 'Kiwi')

In [ ]:
#Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set={'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}

my_set.clear()
print(my_set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}

my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a={1, 2, 3}
b={3, 4, 5}

print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

a = {1, 2, 3}
b = {2, 3, 4}
print(a&b)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict={"name":"Abhisek","age":49,"city":"ChinchPokli"}
print(my_dict)

{'name': 'Abhisek', 'age': 49, 'city': 'ChinchPokli'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict2={'name': 'John', 'age': 25}

my_dict2["country"]="USA"
print(my_dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict3={'name': 'Alice', 'age': 30}
print(my_dict3["name"])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

my_dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict4.pop("age")
print(my_dict4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict5={'name': 'Alice', 'city': 'Paris'}

if "city" in my_dict5:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

# Creating a list
my_list = [10, 20, 30]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_list=[random.randint(1,100)for i in range(5)]
random_list.sort()

print(random_list)

[28, 47, 62, 99, 100]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# printing the element at the third index (4th element)
print("Element at the third index:", my_list[3])

Element at the third index: date

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result


dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

dict1.update(dict2)
print("Combined Dictionary:", dict1)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [ ]:
# 30. Write a code to convert a list of strings into a set

my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {'banana', 'date', 'apple', 'cherry'}